.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image {
    position: relative;

}

.text {
    text-align: center;
    position: absolute;
    color: white;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: white;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}

